*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: 30px;
}
html::-webkit-scrollbar {
  display: none;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slick-prev {
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cd2a44;
}

.slick-next {
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cd2a44;
}
